In [1]:
# What is 7 to the power of 4?
result = 7 ** 4

print(result)

2401

In [3]:
#Split this string: s = "Hi there Sam!" into a list
s = "Hi there Sam!"
list_s = s.split()
print(list_s)

['Hi', 'there', 'Sam!']

In [4]:
#Given the variables: planet = "Earth" diameter = 12742Use .format() to print the following string:The diameter of Earth is 12742 kilometers.
planet = "Earth"
dia = 12742

print("The diameter of {} is {} kilometers.".format(planet, dia))

The diameter of Earth is 12742 kilometers.

In [11]:
#Given this nested list, use indexing to grab the word "helloâ€ lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

In [15]:
#Create a function that grabs the email website domain from a string in the form: **user@domain.com
def get_domain(email):
    return email.split('@')[-1]
email = "user@domain.com"
print(get_domain(email))

domain.com

In [17]:
#Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog,
#  but do account for capitalization. : findDog('Is there a dog here?')
def findDog(s):
    return 'dog' in s.lower()

# Test the function
print(findDog('Is there a Dog here?'))

dog

In [9]:
#9. Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. 
# For example: seq = ['soup','dog','salad','cat','great'] should be filtered down to: ['soup','salad']
seq = ['soup','dog','salad','cat','great']
filtered_seq = list(filter(lambda word: word[0].lower() == 's', seq))
print(filtered_seq)

['soup', 'salad']

In [10]:
# 10. You are driving a little too fast, and a police officer stops you. 
# Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". 
# If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". 
# Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed -= 5

    if speed <= 60:
        return "No Ticket"
    elif speed <= 80:
        return "Small Ticket"
    else:
        return "Big Ticket"

# Test the function
print(caught_speeding(81, True))

Small Ticket

In [3]:
# 11.	Write a program to input roll no, student name, marks of physics, chemistry and maths out of 100. (0-100). Calculate total, percentage, calculate STATUS (pass, fail) if students scores above 40 in all the 3 subjects the STATUS should be pass otherwise fail. Calculate GRADE if STATUS is pass.
# Grade must be based on percentage value
# if percentage is above 70, then grade must be DISTINCTION if percentage is above 60, then grade must be FIRST CLASS
# if percentage is above 50, then grade must be SECOND CLASS if percentage is above 40, then grade must be PASS CLASS
def cg(roll_no, name, ph, ch, ma):
    total = ph + ch + ma
    percentage = total / 3

    if ph < 40 or ch < 40 or ma < 40:
        st = "Fail"
        gr = "N/A"
    else:
        st = "Pass"
        if percentage > 70:
            gr = "DISTINCTION"
        elif percentage > 60:
            gr = "FIRST CLASS"
        elif percentage > 50:
            gr = "SECOND CLASS"
        else:
            gr = "PASS CLASS"

    return roll_no, name, total, percentage, st, gr

# Test the function
roll_no, name, total, percentage, st, gr = cg(210, "Aadil", 85, 75, 65)
print(f"Roll No: {roll_no}, Name: {name}, Total: {total}, Percentage: {percentage}, Status: {st}, Grade: {gr}")

Roll No: 210, Name: Aadil, Total: 225, Percentage: 75.0, Status: Pass, Grade: DISTINCTION

In [24]:
class Employee:
    def __init__(self, empid, name, basic_salary, experience_years):
        self._empid = empid
        self._name = name
        self._basic_salary = basic_salary
        self._experience_years = experience_years
        self._hra = 0
        self._da = 0
        self._pf = 0
        self._bonus = 0
        self._netsalary = 0
        


    def calculate_hra(self):
        self._hra = 0.35 * self._basic_salary

    def calculate_da(self):
        self._da = 0.58 * self._basic_salary

    def calculate_pf(self):
        self._pf = 0.095 * self._basic_salary

    def calculate_bonus(self):
        if self._experience_years >= 30:
            self._bonus = 0.59 * self._basic_salary
        elif self._experience_years >= 23:
            self._bonus = 0.51 * self._basic_salary
        elif self._experience_years >= 15:
            self._bonus = 0.45 * self._basic_salary
        elif self._experience_years >= 7:
            self._bonus = 0.33 * self._basic_salary
        else:
            self._bonus = 0.16 * self._basic_salary

    def calculate_netsalary(self):
        self._netsalary = (
            self._basic_salary + self._da + self._hra - self._pf + self._bonus
        )

    def display_details(self):
        print(f"Employee ID:",self._empid)
        print(f"Name: {self._name}")
        print(f"Basic Salary: {self._basic_salary}")
        print(f"Experience in Years: {self._experience_years}")
        print(f"HRA: {self._hra}")
        print(f"DA: {self._da}")
        print(f"PF: {self._pf}")
        print(f"Bonus: {self._bonus}")
        print(f"Net Salary: {self._netsalary}")


# Example Usage:
employee1 = Employee(empid="22000210", name="Aadil", basic_salary=10000, experience_years=6)
employee1.calculate_hra()
employee1.calculate_da()
employee1.calculate_pf()
employee1.calculate_bonus()
employee1.calculate_netsalary()
employee1.display_details()

Employee ID: 22000210
Name: Aadil
Basic Salary: 10000
Experience in Years: 6
HRA: 3500.0
DA: 5800.0
PF: 950.0
Bonus: 1600.0
Net Salary: 19950.0

In [1]:
class Listt:
    def __init__(self, n):
        self.n = n
        self.fl = []
        self.sl = []
    
   

    def in_fl(self):
        print("Enter numbers:",self.n)
        for i in range(self.n):
            vl = int(input())
            self.fl.append(vl)

    def cl_sl(self):
        for i in range(self.n // 2):
            sum_result = self.fl[i] + self.fl[self.n - 1 - i]
            self.sl.append(sum_result)

    def remove_duplicates_and_display(self):
        rm_dup = list(set(self.sl))
        tuple_newlist = tuple(rm_dup)

        print("\nResult:")
        print("Original List:", self.sl)
        print("List after removing duplicates:", rm_dup)
        print("Tuple:", tuple_newlist)

def main():
    n = 8
    processor = Listt(n)
    
    processor.in_fl()
    processor.cl_sl()
    processor.remove_duplicates_and_display()
    print(processor.fl)

In [3]:
class MyNumber:
    def __init__(self, value=0):
        self._num = value

    def set_num(self, value):
        self._num = value

    def get_num(self):
        return self._num

    def add(self, other):
        result = MyNumber(self._num + other.get_num())
        return result

    def raised_to(self, other):
        result = MyNumber(self._num ** other.get_num())
        return result

    def concat(self, other):
        result = MyNumber(int(str(self._num) + str(other.get_num())))
        return result

    def max(self, other):
        result = MyNumber(max(self._num, other.get_num()))
        return result

    def min(self, other):
        result = MyNumber(min(self._num, other.get_num()))
        return result

n1 = MyNumber(2)
n2 = MyNumber()
n2.set_num(5)

n3 = n1.add(n2)
print("Addition is", n3.get_num())  # Output: 7

# Power
n3 = n1.raised_to(n2)
print(f"{n1.get_num()} raised to {n2.get_num()} is {n3.get_num()}")  # Output: 32

n3 = n1.concat(n2)
print("Concat answer is", n3.get_num())  # Output: 25

n3 = n1.max(n2)
print("Max is", n3.get_num())  # Output: 5

Addition is 7
2 raised to 5 is 32
Concat answer is 25
Max is 5

# Write a program to access each element of list and return all the information of the client   
data = [(12345,"Diskha","Diskha@nuv.ac.in"),(45667,"Jiva","JIva@nuv.ac.in"),(16789,"Rohit","Rohit@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]

In [45]:
class Access:
    def __init__(self):
        self.data =  []
        
    def set_data(self,n):
        self.data = n 
        
    def get_data(self):
        return self.data

    def accs(self, query):
        for id, name, email in self.data:
            if query == id or query == name or query == email:
                return ("Student name is",name,"and ID and Email is",id, email)
        return "No match found"
        
access = Access()

data = [(12345,"Diskha","Diskha@nuv.ac.in"),(45667,"Jiva","JIva@nuv.ac.in"),(16789,"Rohit","Rohit@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]
access.set_data(data)

print(access.accs(12345))  
print(access.accs("Heena"))  
print(access.accs("unnkown@nuv.ac.in"))

('Student name is', 'Diskha', 'and ID and Email is', 12345, 'Diskha@nuv.ac.in')
('Student name is', 'Heena', 'and ID and Email is', 69433, 'Heena@nuv.ac.in')
No match found

# Write a program to access following dictionary

In [89]:
Mydict = {
    "Enrollment Id": [12345, 45667, 16789, 69433],
    "Student Name": ["Diksha", "Jiva", "Ronit", "Heena"],
    "Email Id": ["Diksha r@nuv.ac.in", "Jiva@nuv.ac.in", "Ronitd@nuv.ac.in", "Heena@nuv.ac.in"]
}

for i in range(len(Mydict["Enrollment Id"])):
    enrolid = Mydict["Enrollment Id"][i]
    sname = Mydict["Student Name"][i]
    emailid = Mydict["Email Id"][i]
    print(f"{enrolid:<7}{sname:12}{emailid:25}")

12345  Diksha      Diksha r@nuv.ac.in
45667  Jiva        Jiva@nuv.ac.in
16789  Ronit       Ronitd@nuv.ac.in
69433  Heena       Heena@nuv.ac.in

# Convert data in nested list structure to dictionary.

In [71]:
data = [(12345,"Diksha ","Diksha r@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),
        (16789,"Ronit","Ronit@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]


mydic = {"Enrollment Id":[], "Student Name":[], "Email Id":[]}


for i,j,k in data: 
    for i,j,k in data:
        mydic["Student Name"].append(j)
        mydic["Enrollment Id"].append(i)
        mydic["Email Id"].append(k)        
    print(mydic)  
    break

{'Enrollment Id': [12345, 45667, 16789, 69433], 'Student Name': ['Diksha ', 'Jiva', 'Ronit', 'Heena'], 'Email Id': ['Diksha r@nuv.ac.in', 'Jiva@nuv.ac.in', 'Ronit@nuv.ac.in', 'Heena@nuv.ac.in']}